*{
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 243, 243);
}
h1{
    text-align: center;
    font-size: 3rem;
    
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    margin: auto auto;
}

input{
    width: 75%;
    height: 90px;
    font-size: 2rem;
    padding-left: 5%;
}
.add{
    width: 25%;
    height: 90px;
    font: x-large;
    cursor: pointer;
    background-color: green;
    font-weight: bold;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.add:hover{
    background-color: darkgreen;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    padding-top: 50px;
    
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 90px;
    width: 100%;
    box-shadow: 0 0 20px gray;
    margin-bottom: 3%;
}

.item.clicado{
    background-color: rgb(206, 248, 206);
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: gray;
}

.item-icone{
    flex: 10%;
    text-align: center;
    font-size: 2rem;
}

.item-nome{
    flex: 65%;
    font-size: 20px;
    padding-left: 3%;
    font-weight: bold;

}

.item-botao{
    flex: 25%;
}


.delete{
    background-color: red;
    color: white ;
    padding: 10px;
    width: 100%;
    height: 90px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.delete:hover{
    background-color: rgb(158, 2, 2);
}

.mdi-check-circle{
    color: green;

}